body {
    background-color: beige;
}
th:hover, td:hover {
padding: 8px;
text-align: center;
border-bottom: 1px solid peru;
background-color: whitesmoke;
}
h1, h2 {
    color:darkmagenta;
    font-size: 20px;
    
}
#box-model, #list-model, #make-model {
    padding: 15px;
    border-style: dotted;
    border-width: 5px;
    margin: 20px;
    background-color: bisque;

}

.center, .middle, .enter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.sent, .para, .align {
    text-align: center;
}